[2018-10-05 17:42] ChildishGiant opened #1 "Powershell?"
Thanks for the theme! Is there any way to apply this to powershell too?

[2018-10-05 18:06] waf commented on #1
Hey, thanks for taking a look! In my very limited experimentation, the colors seem to work just fine in powershell. The `colortool` command will apply the Dracula colors correctly.

The custom prompt would need to be done differently though, maybe sitting on top of [posh-git](https://github.com/dahlbyk/posh-git/).

I'll play around with it in the next couple of days and see what can figure out.

[2018-10-07 04:53] #1 closed

[2018-10-07 04:57] waf commented on #1
Hi @ChildishGiant, just pushed powershell support instructions in the readme. For the custom prompt, it uses posh-git so there aren't any conflicts between the two prompts.

[2018-10-07 14:46] waf opened #4 "Add additional Dracula colors"
Right now, the console settings is the iterm color file. However, it appears that in some cases it does not contain different versions for dark/light colors:

![image](https://user-images.githubusercontent.com/97195/46582986-b4531f00-ca79-11e8-86b6-db5ec00ab705.png)

That means we only have 11 colors, when we could add some additional colors. Most notably the comment color is missing.

See the off

[2018-10-08 15:18] #4 closed

[2019-02-12 10:55] derevandal opened #8 "Colors Errors"
When I apply this theme, it looks like this:

![screenshot_1](https://user-images.githubusercontent.com/1340508/52630549-ab4ce100-2ea3-11e9-9e7b-ad5b8beea16b.png)

my $PROFILE
[code]

[2019-02-24 03:34] waf commented on #8
Thanks for the bug report, looks like it may be related to https://github.com/Microsoft/console/issues/23 , and I've verified that the behavior exists even on the most recent version of that tool.

A quick fix is to right-click on the titlebar of the powershell window and choose "Properties" &rarr; "Colors", and change "Screen Text" to the darker white color (8th from the left) and "Screen Backgro

[2019-02-24 05:33] waf commented on #8
@derevandal I think I've come up with a better fix, by switching to an alternative file format in PR #9.

Could you please try to apply [the zip file in that PR](https://github.com/dracula/powershell/blob/3e3a4ce3ae8e2907e4b36cc79750c559858f8f32/dist/ColorTool.zip)? If it works for you, I'll merge the PR and close out this issue.

[2019-02-24 05:41] andrevandal commented on #8
It works here! Thanks!
Btw, i've got this error:
![image](https://user-images.githubusercontent.com/1340508/53295598-8e86a680-37dd-11e9-997d-c64bb1a62f77.png)
****

[2019-02-24 06:43] waf commented on #8
Thanks for verifying it! I also get that error, but I think it's harmless. [Based on the source code](https://github.com/Microsoft/console/blob/bb795f52583e7e5f3bc8ac698464c600d3a9df95/tools/ColorTool/ColorTool/Program.cs#L566-L573), ColorTool (from Microsoft) is trying to parse it as an INI, failing, then moving on to the iterm parser which succeeds.

[2019-02-24 06:43] #8 closed

[2019-03-09 10:48] Fabio24Silva opened #10 "Titlebar color"
![Capturar](https://user-images.githubusercontent.com/28763038/54070505-abe55700-4258-11e9-814f-88db9edd83dc.PNG)

Hi guys, thanks for this theme, on your screenshots your titlebar color changes too, but mine didn't change. How can I change it?

[2019-03-10 09:17] waf commented on #10
Hi, thanks for raising the issue! I don't think Windows 10 has functionality to change the titlebar color per-application. So in this case you'll need to set it for all applications:

You're right that it's unclear, so I've added this note to the README. Thanks!

[2019-03-11 07:36] Fabio24Silva commented on #10
It's working, thanks!

[2019-03-11 07:36] #10 closed

[2019-04-15 10:22] cnluzhang opened #11 "It doesn't work after upgrading to 19H1."
I joined Release Insider Program. My system version is Version 1903 18362.53.
The color config is invalid after I upgrading from 1809 to 1903.

[2019-04-18 00:36] waf commented on #11
Thanks for the report! I'll upgrade shortly and see what's going on.

[2019-04-19 13:42] rakhtar92 opened #12 "Error loading ini file "./.\Dracula-ColorTool.itermcolors" for key "DARK_BLACK" the value "" is invalid"
![DraculaForPowershell](https://user-images.githubusercontent.com/20411595/56426711-de15ba00-62d6-11e9-92a7-c37f0dc91f45.PNG)

Hey guys, I tried using the colorTool to change the powershell theme as described. But it does not work. Please find the screenshot attached.

[2019-04-21 10:40] waf commented on #11
@cnluzhang I've just opened https://github.com/dracula/powershell/pull/13 which I think should fix the issue. Could you please try downloading the `ColorTool.zip` archive from that PR ([direct link here](https://github.com/dracula/powershell/blob/5ee930fb110a9cc1c4eda885719eea3751b34803/dist/ColorTool.zip))?

After running `ColorTool.exe -b Dracula-ColorTool.itermcolors` from the above download, y

[2019-04-21 10:46] waf commented on #12
Thanks for the report @rakhtar92. I think this error is not a real error (it comes from Microsoft's [ColorTool project](https://github.com/Microsoft/console/tree/master/tools/ColorTool)) and can be ignored. ColorTool supports both `ini` and `itermcolors` file formats, we used the `itermcolors` format, so any "ini file" errors can be ignored. I'll see if I can improve the error messages with a PR t

[2019-04-29 01:57] cnluzhang commented on #11
Sorry for my late reply.
It works on CMD, but the PowerShell shows like below.
![image](https://user-images.githubusercontent.com/8707726/56873443-edc69880-6a64-11e9-84f0-ff6ead559eb5.png)
The registry likes below.
![image](https://user-images.githubusercontent.com/8707726/56873468-1cdd0a00-6a65-11e9-9768-066b369f93b8.png)

[2019-05-02 13:19] waf commented on #11
Thanks for your help with troubleshooting this, @cnluzhang! I can't quite see it in your screenshot, but do you have a value called `ScreenColors`, and it's set to `7` like this?

![image](https://user-images.githubusercontent.com/97195/57077112-68b5da80-6d15-11e9-9b10-908c185c328e.png)

If not, you can add it:

1. Right Click -> New
2. Choose DWORD
3. Change the name to `ScreenColors`
4. Right cl

[2019-05-02 13:21] waf commented on #12
I've fixed the error message in https://github.com/Microsoft/console/pull/418

[2019-05-07 16:11] cnluzhang commented on #11
Hi waf, I have already had the value, here is my exported file.

[consolereg.txt](https://github.com/dracula/powershell/files/3153554/consolereg.txt)

[2019-05-09 13:43] waf commented on #11
@cnluzhang thank you, that was very useful. I figured out the problem I think. Could you please download the latest version from the repository ([direct link to zip file](https://raw.githubusercontent.com/waf/dracula-cmd/master/dist/ColorTool.zip)) and run the `install.cmd` from inside the ColorTool directory?

I believe the shortcut files in the start menu are caching some parts of the old theme.

[2019-05-09 16:36] waf commented on #12
@rakhtar92 I'm closing out this issue, but we can reopen if you're still seeing a problem.

[2019-05-09 16:36] #12 closed

[2019-05-09 16:37] waf opened #14 "Support the new Windows Terminal"
MS has a [new terminal](https://github.com/microsoft/Terminal)! We should support it in this repository.

[2019-05-09 16:40] waf commented on #14
There's currently a bug in the new terminal where the colors are not applied in the correct order. The following will work for now (in `profiles.json`), but when the bug is fixed, we'll need to reorder these colors.

[code]

![image](https://user-images.githubusercontent.com/97195/57470751-c7e69280-72b3-11e9-8218-5e5744b5fb35.png)

[2019-05-13 14:39] cnluzhang commented on #11
@waf The theme works well.
But I can't save the font configuration. Every time I apply the color theme and save the font, it goes back to Raster Fonts when I restart the powershell.

[2019-06-20 18:27] mayureshs opened #16 "Reset to the default PS theme"
How do you uninstall this theme and reset to the default powershell theme ?

[2019-06-23 13:13] machine1104 commented on #16
i have the same problem

[2019-06-25 10:59] mayureshs commented on #16
Any update on this issue ?

[2019-06-25 15:16] waf commented on #16
@mayureshs and @machine1104 I've just opened PR #17 that adds some basic support for this. It's pretty tricky and generally tools like ColorTool and Concfg don't support this because of that trickiness. However, I think this PR will help you uninstall it.

Could you please [download the zip file in that PR](https://github.com/dracula/powershell/raw/3d84a753670ee3c993a20036eec222e397094c8c/dist/Col

[2019-06-25 15:39] waf commented on #11
@cnluzhang sorry for the slow response. When you change the font, are you changing it in the "Defaults" menu item or the "Properties" item?

<img src="https://user-images.githubusercontent.com/97195/60112145-804f9380-9799-11e9-8adc-e9a411221429.png" alt="image" style="max-width:100%;" width="300px">

I've found there's some inconsistent behavior here, if you're changing it in "Properties" try chan

[2019-06-25 18:43] mayureshs commented on #16
Below is the snapshot of running the uninstall file. However reopening PS still has the same theme. Does not look like the uninstall worked.

![image](https://user-images.githubusercontent.com/1014702/60124407-2cb85800-974f-11e9-960b-45e2f9d07e21.png)

![image](https://user-images.githubusercontent.com/1014702/60124512-61c4aa80-974f-11e9-8706-4894e061a368.png)

[2019-06-26 00:35] waf commented on #16
Thanks for reporting back @mayureshs. How are you opening powershell? Through the start menu or some other way?

- If through some other shortcut, please try using the start menu, and if that works, recreate your shortcut.
- If through the start menu, could you please send me the shortcut file (the `.lnk` file) so I can compare it to my machine?
- If through the windows "Run" dialog, could you ple

[2019-06-26 13:17] mayureshs commented on #16
Thanks for responding @waf.
When I search for powershell , I get two options "Windows PowerShell" and powershell.exe. Selecting Windows PowerShell does not seem to have restored the original theme, but selecting powershell.exe is showing the original PS theme (see screenshot). I am not able to attach an .lnk file to this thread.
Windows PowerShell shortcut is from \Users\AppData\Roaming ... folder

[2019-06-26 14:16] waf commented on #16
Thanks. That filesize doesn't look right in the top window in your screenshot. Is this the full path?

[code]

I'm expecting it to be 2,494 bytes instead of the 1,756 bytes shown. It should be the same as the downloaded one in ColorTool.zip's `uninstall` folder (the uninstall command simply copies `\uninstall\Windows PowerShell.lnk` to your start menu).

Can you please try running the shortcut fro

[2019-06-26 15:51] mayureshs commented on #16
Running the uninstall command worked and i did verify the file size now increased to 2.47 KB. Thanks for your assistance @waf

[2019-06-27 00:59] waf commented on #16
Great, glad to hear it worked. Thanks for raising this.

@machine1104 I think this should work for you now, please try it out. I'll close this issue now, but feel free to reopen or add a new issue.

[2019-06-27 00:59] #16 closed

[2019-08-17 00:15] azivkovi opened #18 "Colors not loading from profile configuration"
![Annotation 2019-08-17 015813](https://user-images.githubusercontent.com/47382298/63203837-845daa80-c092-11e9-87be-3a3415dae668.png)

I followed the install instructions and this is the error I get. I tried -TokenType instead, but I get the same error for this parameter as well.

The Microsoft.PowerShell_profile.ps1 file contents are just the Dracula config, nothing else.

I will appreciate your

[2019-08-17 02:54] yunjianyang commented on #18
Same error here. Followed the instruction step by step.

[2019-08-17 05:09] waf commented on #18
Thanks for reporting this. I'm away from my computer at the moment, but I'll look into this in the next day or two.

[2019-08-17 06:07] waf commented on #18
@azivkovi could you post the output of `(Get-Module PSReadLine).Version` please?

[2019-08-17 08:17] azivkovi commented on #18
@waf Here it is:
[code]

[2019-08-17 08:28] azivkovi commented on #18
Quick update from me, it seems my installation of PSReadLine 2 beta failed, so I tried a different command : `install-module psreadline -requiredversion 2.0.0-beta2 -AllowPrerelease -Force -AllowClobber"` found here https://github.com/PowerShell/PowerShellGet/issues/318 .

This instealled the 2.0 version and now my version output is

[code]

And the error is gone.

[2019-08-17 18:26] yunjianyang commented on #18
Worked.

[2019-08-17 20:14] #18 closed

[2019-08-18 04:48] waf commented on #18
Thanks! I'll update the readme with your alternate install command.

[2019-08-19 17:54] rmtracey opened #19 "Unable to change prompt"
During my setup, I set my `prompt` environment variable to `$E[1;32;40m→ $E[1;36;40m$p$E[1;35;40m› $E[1;37;40m`, as specified in the setup instructions. I decided that I don't like the arrow, so I deleted the environment variable, but my prompt did not revert to the old style. I also tried fully uninstalling the theme through the uninstall script and reinstalling - that didn't work either. Now I'v

[2019-08-19 18:38] rmtracey commented on #19
Apologies, I didn't realize that this was coming from the provided posh-git settings, and that the `prompt` env var is only for cmd.exe.

[2019-08-19 18:38] #19 closed

[2019-08-20 02:23] waf commented on #19
Thanks for raising the issue! I've updated the README to clear up the confusion.

[2019-08-22 04:46] waf commented on #14
Bug has been fixed, and here are the new settings in `profiles.json`

[code]

![image](https://user-images.githubusercontent.com/97195/63485960-a3639e80-c4cf-11e9-9e6e-0b3360a10618.png)

[2019-08-22 14:17] waf commented on #11
@cnluzhang I'm going to resolve this issue, because the theme is working for 19H1. Feel free to open another issue if you're still having the raster font issue. Thanks!

[2019-08-22 14:17] #11 closed

[2019-08-22 15:43] #14 closed

[2019-09-12 17:05] JRCrawford opened #22 "Colours not working"
I've tried to get the colours working but all I get is this:
![image](https://user-images.githubusercontent.com/16747994/64804971-e45b4a00-d587-11e9-827c-31de4fb23965.png)

Is there some settings I'm missing?

[2019-09-13 02:56] waf commented on #22
@JRCrawford thanks for reporting. I solved a similar problem some time ago, but looks like it's not fully solved across all systems.

An immediate fix for you is to go into the [console properties](https://www.makeuseof.com/tag/change-colors-command-prompt/) and set the foreground and background colors. The color palette is already correct, but you need to point the foreground/background options t

[2019-09-13 09:56] JRCrawford commented on #22
@waf I'd love to help. I'm actually more of a Linux guy having used zsh (with oh-my-zsh) a lot, but our company has decieded to move over to O365 and use Windows instead. PS has however come a long way and I love what you've done with the styles.

To provide the steps I did the following:

- I first ran (in administrator mode) PS.
- I then installed chocolatey `Set-ExecutionPolicy Bypass -Scope Pr

[2019-09-13 10:09] JRCrawford commented on #22
*update* So I've noticed that I did some steps for the CMD instead of PS. I have now done the following:

- Opened PS in admin mode
- ran `Install-Module -Name PowerShellGet -Force`
- ran `Install-Module -Name posh-git -AllowPrerelease -Force`
- Checked my version (it was indeed v2 so no issues)
- Added the extra code to my $profile file so it [looks like this](https://gist.github.com/JRCrawford/4

[2019-09-14 01:52] waf commented on #22
@JRCrawford thanks! Would you be able to export the following registery key and share it with me?

HKEY_CURRENT_USER\Console

This will list your current console configurations to a plain-text file, so I can see which configuration has the issue. Thanks!

[2019-09-16 08:28] JRCrawford commented on #22
@waf sorry for the delay, I was out this weekend.  Anyway I was able to get this working after tweaking with some of the `$profile` settings and as such it looks great now as seen below.
![image](https://user-images.githubusercontent.com/16747994/64943521-d9443a80-d863-11e9-8bcf-88a849f3b133.png) (so I think we can close this issue).

I've attached my reg key just in case you wanted to look at it.

[2019-09-16 08:53] #22 closed

[2019-09-17 13:19] waf commented on #22
Thanks @JRCrawford. The only odd thing I see in the registry file is the `"ScreenColors"=dword:00000077` line. This means that your foreground color index (7) is the same as your background color index (7), which would make the terminal unusable. It should be `"ScreenColors"=dword:00000070`.

If you start powershell from the Windows Run Dialog (Win+R) is it working correctly? If so, great, I'll ke

[2019-10-05 17:43] dagashy opened #23 "Colortool.exe its not recognized"
![image](https://user-images.githubusercontent.com/55342496/66258666-576a7180-e77e-11e9-80a8-bbbb4c382b6d.png)

i'm trying to install colortool.exe, but aways get this error, and dont know whats the wrong in ths, someone can help me?

[2019-10-14 14:03] moedeveloper opened #24 "Git Branching"
How can i add the git branching to the prompt  in CMD.exe ?

[2019-10-17 13:58] waf commented on #23
Hi @dagashy, sorry for the slow response. Can you please `cd` to the colortool directory?

For example:

[code]

[2019-10-17 14:00] waf commented on #24
Hi @moedeveloper, unfortunately I do not think cmd.exe supports this. I'm using [this stackoverflow post](https://stackoverflow.com/questions/36047706/show-current-git-branch-name-in-windows-command-prompt) as reference. We have to use powershell if we want the nice git prompt.

[2019-10-17 14:40] #24 closed

[2019-10-25 06:49] oliemansm commented on #8
Had this same issue today. Perhaps the color tool link in the readme has not been updated?

[2019-12-01 10:35] ghost commented on #23
`colortool.exe` isn't to be installed on your machine, but executed by `install.cmd` batch file.

[2019-12-01 10:47] joaosantana opened #25 "Wrong background color"
I am following _pari passu_ the instructions in README.md to install Dracula theme on PoSh. When I execute install.cmd, however, my terminal is abhorrently pink:

![Anotação 2019-12-01 072846](https://user-images.githubusercontent.com/53820433/69912818-692e6500-140d-11ea-8dee-1dddd61705f8.jpg)

Even when I open a new terminal, its background color is pink. When I go to Properties page and select t

[2019-12-01 12:09] waf commented on #25
@joaosantana Hi, thanks for reporting the issue.
Would you be able to export the following registery key and share it with me?

HKEY_CURRENT_USER\Console

This will list your current console configurations to a plain-text file, so I can see the the details of the issue. Thanks!

[2019-12-01 19:52] ghost commented on #25
@waf Thank you for your quick response.

My HKCU/Console hive content:
[code]

[2019-12-02 10:59] ghost commented on #25
When i saw `DefaultBackground` value set tô `0xffffffff`, I was thinking that the issue was with my machine. So I've do a clean install and tested in other three machines, with the same pink background result.

After select the very first tone in Properties, however, an `uninstall.cmd` followed by a new `install.cmd` command works as expected.

[2019-12-04 01:56] dianligegege commented on #25
hey man,Is your problem solved? i have met the same question.

[2019-12-04 12:39] ghost commented on #25
@dianligegege Not yet, but if you go to Powershell's window Properties, Colors and select the very first color square to background color, will work.

[2019-12-04 14:45] dianligegege commented on #25
@joaosantana  thanks so much ,that's works for me

[2019-12-18 02:39] LittleNewton opened #26 "When running a command in the powershell console, the window will shaking (refresh?)"
I want to show you a small video about this.

[Youtube Bug Video](https://www.youtube.com/watch?v=onxscM6f3HA)

Thank you.

[2019-12-20 04:07] BenedictusAryo opened #27 "Cannot change windows title after loading $profile"
Hi Guys, Thank you for making this beautiful dracula theme for powershell,
the console works just fine.
But, after loading the $profile, it seems that it cannot change the window title
even after I add this config to the $profile it also doesn't change

`$Host.UI.RawUI.WindowTitle = "Window Title"`

![ps_dracula issue](https://user-images.githubusercontent.com/37109796/71229502-5b874380-2318-11ea-

[2019-12-24 15:37] BenedictusAryo commented on #27
After some research, it's due to posh-git nature, to disable it we need to specify
`$GitPromptSettings.WindowTitle = $null`
or override with another Text

[2019-12-24 15:37] #27 closed

[2019-12-24 17:58] waf commented on #23
@dagashy I'm closing this issue, please let me know if you're still seeing issues!

[2019-12-24 17:58] #23 closed

[2019-12-24 18:17] waf commented on #26
Thanks @LittleNewton. This seems similar to bug https://github.com/PowerShell/PowerShell/issues/7863 reported in PSReadLine (which this Dracula project uses). The video attached to that bug report is very similar.

That bug should have been fixed in recent versions of PSReadLine. Which version do you have? You can get the PSReadLine version using:

[code]

[2019-12-24 18:34] waf commented on #25
Just an update on this one, the [ColorTool.exe](https://github.com/microsoft/terminal/tree/master/src/tools/ColorTool) is supposed to set the background color in the registry. I'm currently trying to figure out why that's not happening.

[2020-01-13 08:40] angryyogurt commented on #26
I got very similar problem with dracula theme and consolas font. My PowerShell window shakes when I press `TAB` to auto complete command.

PowerShell 6.2.3
PSReadline version: 2.0.0-beta3
@waf

[2020-02-14 08:07] pjoe commented on #25
Ran into this as well.

FWIW: Here is the setting in the properties for matching the correct bg color:
![image](https://user-images.githubusercontent.com/1846572/74512816-65d55080-4f09-11ea-8719-9b194d4071f0.png)

[2020-02-14 08:11] pjoe commented on #25
Hmm on further check other colors are also wrong, and pretty unreadable (git info):

![image](https://user-images.githubusercontent.com/1846572/74513030-e5631f80-4f09-11ea-996c-5dce186c2e3f.png)

[2020-02-14 08:21] pjoe commented on #25
Okay think I got it working here. Steps I took:

1. Updated ColorTool.exe to latest version from https://github.com/microsoft/terminal/releases/tag/1904.29002

2. Manually copied the .lnk files over to my start menu. Before I was also using a link pinned to the taskbar - might also have been the issue.

[2020-03-04 10:48] EnVy28 opened #28 "CTRL + C stopped working? Am I the only one?"
After applying this theme, ctrl + C stopped working while inside powershell and cmd.
I did everything in order from "Colors Installation -> PowerShell Prompt -> CMD.exe Prompt -> Windows Titlebar Color"...

No error encountered during installation...

When CMD or Powershell is opened, without typing anything CTRL + C works fine, but when running an console application, ctrl + c does not exit the a

[2020-03-04 16:09] waf commented on #28
Hi @EnVy28, thanks for reporting this. I haven't seen this before. You said that:

Is there a specific app that's having this problem? I tried writing a little console app that calls `Console.ReadKey()` to accept user input, and <kbd>ctrl+c</kbd> exited the app (dropped me back on the prompt as expected).

[2020-03-09 04:46] EnVy28 commented on #28
Hi @waf

There is no specific application, I don't think, but what I use regularly is "node" and some GO app I built personally.

Also, this only happens on my Laptop, when I tried  to install this on my home pc, everything works well with no problem at all.

Maybe I did something wrong?

Maybe try this:
On VSCode, I changed this [setting](https://mypublicbucketforsharinglul.s3-ap-northeast-1.amaz

[2020-04-20 17:55] jargule opened #29 "Install issues"
I got install issues, here are my steps
This worked
`PS C:\Users\Owner\ColorTool> ./install.cmd`

NuGet installed successfully
`PS C:\Windows\system32> Install-Module -Name NuGet`

But then
`PS C:\Windows\system32> Install-Module -Name PowerShellGet -Force`
The error
`PackageManagement\Install-Package : The module PowerShellGet cannot be installed because the catalog signature in PowerShellGet.cat

[2020-05-05 20:38] seia-soto commented on #28
Me either Node.JS and Go installed on my laptop(I'll speak this laptop as computer or other things can be recognizable). However, there is nothing seems non-sense.

In other words, you should check another thing affecting key binding.

[2020-05-11 07:54] Cmoen11 opened #30 "Installguid for windows terminal?"
Hi, since windows terminal has been released.. Is there any install guide for this? :)

[2020-05-18 14:49] waf commented on #30
Hi @Cmoen11, yep, there are a few!

- [Windows Terminal](https://github.com/dracula/windows-terminal) repo
- For a version that matches cmd/powershell in this repo, there's the [Windows 10 Terminal Dracula Theme](https://github.com/dracula/powershell/blob/master/theme/Windows%2010%20Terminal%20Dracula%20Theme.json).

[2020-05-18 15:02] waf commented on #29
Hi @jargule, are you still seeing this error? I think it may have been a temporary error with that module. I see other similar reports (for example, https://github.com/Azure/azure-powershell/issues/11656, https://github.com/PowerShell/PowerShellGallery/issues/96) in other powershell projects around the same timeframe.

[2020-05-18 15:03] #25 closed

[2020-05-18 15:18] waf commented on #26
Sorry for the slow response on this. I'm pretty sure it's an issue with the upstream PSReadline repository, but I've been unable to confirm that.

PSReadline is now out of beta. If you upgrade the module with `Update-Module PSReadline -Force`, then restart the terminal, is the issue fixed?

If not, I'll need to find a way to install that doesn't require PSReadline, potentially using concfg or some

[2020-05-18 15:55] waf commented on #28
Thanks @Seia-Soto. I'm thinking this must be related to PSReadline. I've seen some reports that ctrl-c was reworked as part of the PSReadline 2.0 release.

@EnVy28: Could you please try the following?

1. Update your PSReadline package: `update-module PSReadline -Force`, then close/reopen your terminal)
1. Try to reproduce the problem. If it's fixed, great, if not please continue:
1. Run this scri

[2020-05-18 16:30] angryyogurt commented on #26
@waf no, it still has problem. Everytime I press `TAB`, powershell's content shakes once (seems like font changes quickly), and the PS window momently grows wider (not every time, maybe 3 of 10).

[2020-05-18 16:33] waf commented on #26
@AngryYogurt thanks. If you disable PSReadline (`remove-module psreadline` will disable it for the current window) do you still get the shaking?

[2020-05-18 16:38] angryyogurt commented on #26
@waf disable PSReadline also changes font, everything is ok now.

[2020-05-18 16:44] waf commented on #26
@AngryYogurt I think this issue is tracking the bug in the PSReadLine repository: https://github.com/PowerShell/PSReadLine/issues/964

It says "I investigated the font flickering issue on CJK locale machines" which sounds like exactly what you're seeing.

There is a possible workaround here: https://github.com/PowerShell/PSReadLine/issues/964#issuecomment-601758285

[2020-05-18 20:04] Cmoen11 commented on #30
Thanks!!

[2020-05-18 20:04] #30 closed

[2020-05-20 03:09] waf commented on #26
I'm going to close this issue, as it's being tracked by the above PSReadLine issue.

It's unfortunate that PSReadline has a problem with CJK characters. There is the workaround I linked to in my previous comment, additionally disabling PSReadline would work too.

[2020-05-20 03:10] #26 closed

[2020-05-20 03:11] waf commented on #29
I'm closing this for now as it's not reproducible and I think there were some temporary problems with that `PowerShellGet` package a few weeks ago. If it's still happening for anyone, feel free to reopen.

[2020-05-20 03:11] #29 closed

[2020-05-29 07:19] arpitkaushal opened #31 "Uninstalling"
Can someone please help me with uninstalling this?
I ran `uninstall.cmd` but I cannot figure out how to exactly delete the environment variable profile in cmd.

Please help.

[2020-06-01 10:35] gawronix opened #32 "The property 'ForegroundColor' cannot be found on this object. Verify that the property exists and can be set. At C:\Users\grzeg\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1:16 char:1"
Help me fix this...
The property 'Text' cannot be found on this object. Verify that the property exists and can be set.
At C:\Users\grzeg\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1:14 char:50
+ $GitPromptSettings.DefaultPromptPrefix.Text = "$([char]0x2192) " # ar ...
+                                                  ~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:

[2020-06-02 07:21] gawronix commented on #31
type $profile
copy path
vim "path"
delete all data in $profile
save
done :)

[2020-06-02 08:10] arpitkaushal commented on #31
Hi @gawronix
I apologize. I should have mentioned that I'm ran your program on cmd prompt on Windows (so I don't have vim).
This is what I get when I type `$profile` on my prompt.
[code]
I ran ``` set ``` to see the list of variables. While I did not find any variable named **profile**, I did see the variable
[code]
I think I set that manually following instructions from the readMe.
Later when I t

[2020-06-02 09:03] gawronix commented on #31
run this in PS

[2020-06-02 09:11] arpitkaushal commented on #31
@gawronix  I never installed it in Power Shell. Only did that to the command prompt.
Anyway, the path returned by powershell was -
``` C:\Users\arpit\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1 ```
But when I run,
``` notepad C:\Users\arpit\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1 ```
Notepad says, the file doesn't exist, do you want to create a new file?
I wen

[2020-06-02 09:20] gawronix commented on #31
Ok, so you have to remove promt enviroment.
try this:
https://www.digitalcitizen.life/how-edit-or-delete-environment-variables-windows-7-windows-8

[2020-06-02 09:48] arpitkaushal commented on #31
Okay, so I just had to see my environment variables in the Windows Advanced System settings, and delete the variable
```prompt=$E[1;32;40m→ $E[1;36;40m$p$E[1;35;40m› $E[1;37;40m```
from before.
Restarted the cmd prompt, and it's back to it's default state. Thanks for being helpful and patient!
😄

[2020-06-02 09:48] #31 closed

[2020-06-10 00:11] kevin-tong-msft commented on #32
I have the same issue.

[2020-06-10 00:30] kevin-tong-msft commented on #32
According to https://github.com/dahlbyk/posh-git/issues/588, `DefaultPromptPath.ForegroundColor` only works on posh-git v1.0.0-beta2.
Running `Update-Module posh-git -RequiredVersion 1.0.0-beta2 -AllowPrerelease` works for me.

[2020-06-15 04:55] leo-jansen commented on #32
eu estava com o mesmo problema, aconteceu pq não estava com posh-git, consegui instalar o posh-git seguindo a documentação no site do git, é só seguir o passo-passo.
https://git-scm.com/book/en/v2/Appendix-A:-Git-in-Other-Environments-Git-in-PowerShell

[2020-06-15 09:22] gawronix commented on #32
Now i get smth like this.... before you say, i get the same result in normal powershell window...
![image](https://user-images.githubusercontent.com/30899138/84760711-b1d3f700-afc8-11ea-95cc-baaf3b6cb5ff.png)

[2020-07-01 14:49] ThalysSilva opened #33 "Not show color"
after installing and following the steps, everything works normally, but when you restart the console, it turns white again, with only the background with the theme color

[2020-07-06 01:49] SnakesWithFeet opened #34 "Newbie Question?"
Hi there, i'm pretty new to using the command line so I probably am making a bunch of rookie mistakes, but I can't for the life of me figure out how to run the ColorTool.exe -b Dracula.ini line in Powershell. I've attached a really embarrassing screenshot of my sad attempts at getting it to work haha. The directory I cd'd into is the unzipped version of the ColorTool file.
![2020-07-05 18_46_25-Ex

[2020-07-06 02:16] waf commented on #34
Hm, that's odd! Seems like the files aren't in that directory. Are you certain it unzipped correctly? Sometimes Windows will create an extra "wrapping" directory when unzipping; maybe you need to do **another** `cd ColorTool` (so your prompt should be `PS C:\Users\miaki\Downloads\ColorTool\ColorTool>`) and then run `install.cmd`

If that still doesn't work, can you please try running `dir` and the

[2020-07-06 10:33] Re-fresh commented on #34
You have to add a .\ before ColorTool.exe
It should look like this
`.\ColorTool.exe -b Dracula.ini`

[2020-07-06 10:41] Re-fresh opened #35 "How does one install the same on Windows Terminal ?"
The theme installed fine on powershell, and it seems to work fine. But I'm unable to install the theme in "Windows Terminal".

![image](https://user-images.githubusercontent.com/59319728/86584929-4798eb80-bfa3-11ea-9db4-f9e659a92568.png)

[2020-07-06 10:48] Re-fresh opened #36 "Instructions different on site and github ?"
https://draculatheme.com/powershell/
![image](https://user-images.githubusercontent.com/59319728/86585554-43b99900-bfa4-11ea-9694-6c40fd7ba554.png)

https://github.com/dracula/powershell
![image](https://user-images.githubusercontent.com/59319728/86585572-4b793d80-bfa4-11ea-860b-20398f4a6da0.png)

[2020-07-06 11:01] Re-fresh commented on #33
I'm facing the same problem

[2020-07-06 12:32] SnakesWithFeet commented on #34
@waf @Re-fresh Thank you both so much for the help, I tried those suggestions and it worked perfectly! I also learned something new along the way haha thanks for being so nice to a newbie and thank you so much for the beautiful theme!
![2020-07-06 05_28_09-Select Windows PowerShell](https://user-images.githubusercontent.com/67883501/86593459-80f53b00-bf52-11ea-892e-7466162cfaea.png)

[2020-07-06 17:02] Re-fresh commented on #34
cheers, but I think you are facing the same problem as mine with colors, it's not the same as per the theme

[2020-07-07 07:54] Re-fresh commented on #35
Nevermind, my bad, didnt see it was already written in Readme.
Follow instructions here as well
https://github.com/microsoft/terminal/issues/5458

[2020-07-07 07:54] #35 closed

[2020-07-07 08:41] #36 closed

[2020-07-09 19:14] welcometochristown opened #37 "Could not find or load "Dracula.ini""
When I run `.\ColorTool.exe -b Dracula.ini` in powershell console I get the error saying it can't find or load Dracula.ini

![image](https://user-images.githubusercontent.com/17158437/87080955-8d99bd80-c1f6-11ea-84c0-184e543eb798.png)

Am I doing something wrong? I don't see a Dracula.ini file in the ColorTools folder. Is this a file that gets created?

[2020-07-20 02:23] paulchiu commented on #37
The instructions appear to be out of date. The following works for me:

1. Download and extract https://github.com/dracula/powershell/raw/master/dist/ColorTool.zip
1. Run `install.cmd`

[2020-07-23 12:40] williamisnotdefined commented on #37
I do this and has no effect :(

[2020-07-28 14:47] Arjdroid opened #38 "Colours are not what were shown in the front page"
I ran the exact instructions to install the colour profile but it seems the colours are different from the one in the image above the instructions... I'd be happy to manually implement each of the colour values by hand if someone were to tell them to me!
![image](https://user-images.githubusercontent.com/57623600/88681270-05c91400-d10f-11ea-92dd-309402fbb3af.png)

[2020-07-29 04:13] waf commented on #38
Hi @Arjdroid . Yes, that does not look good! Could you please confirm the following?

- In powershell, please run the following two commands and paste the output here:
  1. `(Get-Module PSReadLine).Version`
  1. `Get-PSReadLineOption`
- Does cmd.exe look correct?

Thanks!

[2020-07-29 04:33] arjdroid commented on #38
For the first command, the output was -
![image](https://user-images.githubusercontent.com/57623600/88756837-444be680-d182-11ea-88ec-06ab0c8f3834.png)

The second output was -
![image](https://user-images.githubusercontent.com/57623600/88756903-72312b00-d182-11ea-9dc4-fe235d7218e6.png)

Cmd.exe looks like this -
![image](https://user-images.githubusercontent.com/57623600/88756966-95f47100-d182-11e

[2020-07-29 04:58] waf commented on #38
Ah, I think I've discovered what's happening. The website has out-of-date installation instructions -- it looks like the website was recently rewritten. I'll figure out how to get that updated.

In the meantime, could you please follow the "Colors Installation" and "PowerShell Prompt" instructions [on this page](https://github.com/dracula/powershell/blob/master/INSTALL.md)? You can follow the rest

[2020-07-29 06:37] arjdroid commented on #38
Ah, I finally got it, I was only doing the Colors Installation part, not the PowerShell Prompt part... Thank you so much for your time, I'm sorry for wasting it! 👍 Its working fine now and looks great! 👍

[2020-07-29 06:37] #38 closed

[2020-07-30 01:46] waf commented on #38
Glad you got it working! Thanks for opening the issue -- I can definitely see how the installation instructions need a bit of work to be more clear. I'll see if I can improve them.

[2020-07-31 04:22] waf commented on #37
Thanks @paulchiu for helping out! There was an inconsistency between the website and instructions in the readme. That inconsistency has been fixed now.

[2020-07-31 04:22] #37 closed

[2020-07-31 04:23] #34 closed

[2020-07-31 04:25] waf commented on #33
Hi @ThalysSilva, would you be able to post a screenshot, and the output of this powershell command: `get-content $profile`

Thanks!

[2020-08-01 04:26] waf commented on #32
Hi @gawronix, can you please paste the output of the following two commands?

- `(get-module posh-git).Version`
- `(get-module psreadline).Version`

Thanks!

[2020-08-05 04:28] kaellego commented on #32
An update for those experiencing problems
`Update-Module posh-git -RequiredVersion 1.0.0-beta4 -AllowPrerelease -Force`

[2020-08-12 17:44] phillocoder opened #39 "git command could not be found"
I get this warning in powershell after doing all the installation steps: "git command could not be found. Please create an alias or add it to your PATH."

[2020-08-14 07:35] waf commented on #39
Hi @phillocoder. Do you have git installed? If not, you can [install it from this webpage](https://github.com/git-guides/install-git#install-git-on-windows).

[2020-08-16 20:21] ErickRock opened #40 "Help to Configure"
**Description of the issue**

Can someone make a video of teaching? I followed all the steps but I can't make it look like the sample image in readme.md.

**Screenshots**

*Me*:
![image](https://user-images.githubusercontent.com/15223763/90343220-b75bb680-dfe4-11ea-926b-40e80f75dbaf.png)

*As i want*:
![image](https://user-images.githubusercontent.com/15223763/90343225-cd697700-dfe4-11ea-8f9e-5070

[2020-08-17 02:03] waf commented on #40
Hi @ErickRock. It looks like it's almost right. Did you follow Step 4 in the installation instructions? Step 4 is:

To explain more, find the file `C:\Users\{YourUserName}\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1`. You can make a new file if it doesn't exist. Then copy/paste the powershell configuration linked above into that file.

[2020-08-17 12:29] ErickRock commented on #40
Hi @waf!

I followed all the steps, but it is not the same. This is my $ profile

[code]

*PATH and Name*

![image](https://user-images.githubusercontent.com/15223763/90396108-0698fa00-e06c-11ea-836e-9d7d755a7f0c.png)

[2020-08-17 12:31] waf commented on #40
Hi @ErickRock, looks like the filename is misspelled -- it's missing the <kbd>r</kbd> in PowerShell.

It's a long filename, probably best if you copy/paste the full name: `Microsoft.PowerShell_profile.ps1`

[2020-08-17 13:07] ErickRock commented on #40
Hi @waf ooo Thanks

I can't believe I missed something so simple, I feel ashamed ...

I changed the name, and then ran the command

[code]
![image](https://user-images.githubusercontent.com/15223763/90399287-1961fd80-e071-11ea-8b9a-5f4125fd056a.png)

It worked!

Do you know how I do the following configuration for cmd?
<details><summary><strong>CMD.exe Prompt</strong></summary>
<p>

Set the enviro

[2020-08-17 14:59] waf commented on #40
@ErickRock great! looks good. For cmd, you can set it in the Environment Variables:

1. In the Windows start menu, search for the word "environment". Choose "Edit Environment variables for your account"
![image](https://user-images.githubusercontent.com/97195/90409888-edc42f00-e0d3-11ea-83f1-6f55c0b8e4bb.png)
1. In the window that opens, click "New":
![image](https://user-images.githubusercontent.

[2020-08-17 15:57] ErickRock commented on #40
Thank you very much for your help, thank you very much! It's all right now.

![image](https://user-images.githubusercontent.com/15223763/90416772-47533c00-e089-11ea-94c9-8186085fbc63.png)

[2020-08-17 15:58] #40 closed

[2020-08-18 07:05] waf commented on #40
Great! Glad you got it working. 👍

[2020-08-23 23:06] LukeSavefrogs commented on #32
### Problem
I encountered the same problem as well as an error saying i **didn't have** `-AllowPrerelease`. I tried to update both `PSReadLine` and `PowerShellGet` as said in the guide but that didn't work...

### Solution
Turns out i had **different versions** running of both, so the PowerShell didn't know which to pick and insisted on using the 1.0 version.

In order to fix that i had to **remov

[2020-09-02 22:06] diogo19 opened #41 "Some characters are showing up as squares with ? inside them"
**Description of the issue**
After installing it, everything went smooth, very beautiful color scheme, but then I got using PowerShell and some unicode(I'm guessing) characters are showing as squares with question marks inside of them

**Screenshots**
![Untitled](https://user-images.githubusercontent.com/43421345/92041778-425fdf00-ed4f-11ea-9804-739c922d1dc3.png)

**Version Information**

![Untitl

[2020-09-06 07:22] waf commented on #41
Hi @diogo19, I agree it looks like a unicode problem. Are you using the Consolas font? For me, it can display:

![image](https://user-images.githubusercontent.com/97195/92320408-7edf5380-f04b-11ea-93a3-6f7171fa076f.png)

Additionally, if you go to your terminal's properties, what is the current code page setting?

![image](https://user-images.githubusercontent.com/97195/92320420-a1716c80-f04b-11ea

[2020-09-06 07:34] waf commented on #33
Closing out some older issues. Feel free to re-open if it's still affecting you.

[2020-09-06 07:34] #33 closed

[2020-09-06 07:35] waf commented on #39
Closing out some older issues. Feel free to re-open if it's still affecting you.

[2020-09-06 07:35] #39 closed

[2020-09-06 07:35] waf commented on #28
Closing out some older issues. Feel free to re-open if it's still affecting you.

[2020-09-06 07:35] #28 closed

[2020-09-06 07:39] waf commented on #32
I've reworked the install instructions, and added a link to @LukeSavefrogs's troubleshooting steps and information. Thanks for putting it together!

[2020-09-06 07:39] #32 closed

[2020-09-06 17:24] diogo19 commented on #41
Hi, thanks for the reply!
My Current code page is '850 (OEM - Muntilingual Latin I)'.
The error is occuring whenever it tries to display ´ ` ç, those types of characters. The screenshot I posted earlier was from a query I did on a mongoDB via shell. And yes I'm using Consolas

[2021-01-04 09:56] dimejo opened #42 "Wrong symbols for CMD.exe on draculatheme.com"
## Description of the issue

When copying the prompt from [draculatheme.com/powershell](https://draculatheme.com/powershell), the symbols on the prompt are not displayed correctly. It looks like they somehow are converted when creating the website, because symbols on the Github site are correct.

## Screenshots

<img width="674" alt="dracula_powershell_prompt" src="https://user-images.githubuserco

[2021-01-06 08:51] drawix opened #43 "The property xyz cannot be found on this object."
**Description of the issue**
Hello, I followed the instructions from https://draculatheme.com/powershell and after posting my Dracula configuration into $profile colors seem to look fine but the errors appear.

**Screenshots**
https://prnt.sc/whcvma

**Version Information**

v1.0 > (Get-Module PSReadline).Version; (Get-Module posh-git).Version

Major  Minor  Build  Revision
-----  -----  -----  --

[2021-01-07 15:18] waf commented on #43
Hi @drawix. I think the posh-git module needs to be upgraded. Can you please try this part of Step 1 from the [INSTALL.md](https://github.com/dracula/powershell/blob/master/INSTALL.md)? Thanks!

[2021-01-07 15:30] waf commented on #42
Ah, thanks for the report! Really appreciate you taking the time to point this out.

Yeah, something in the static site generator is messing up those symbols. I've switched it over to a plain text link; next time the static site gets regenerated it should fix this. I'll keep this issue open until that happens. Thanks!

[2021-01-07 15:32] waf commented on #41
Hi @diogo19, did switching to UTF-8 fix this issue? Or would you rather not do that? Thanks!

[2021-01-08 12:07] sheeepdev opened #45 "[Question] Home dir ~ symbol on cmd theme"
So this is kind of a question rather than an issue but, is it possible to have the ~ (Tilda, home symbol) (like on Linux) instead of C:\Users\username on the cmd theme?

[2021-01-08 13:17] dimejo commented on #42
Thank you for working on this. 😄

[2021-01-08 13:17] #42 closed

[2021-01-08 14:17] waf commented on #45
Unfortunately, I don't think so (I've done some searching and did not find a way). PowerShell can do it because it allows custom prompt functions, but I think cmd.exe only supports a limited set of variables, none of which do what we want.

The cheap answer is that from cmd.exe, run powershell.exe, but that's cheating 😃

[2021-01-08 19:32] jakiisheep commented on #45
Nevermind then, I would use PowerShell more than cmd but because cmd loads faster and I can quickly type in a command I need so I use it more. I have a lot of commands in my PowerShell profile so that's slowing it down but it looks amazing with all commands in the profile :)

Anyways, thank you for at least searching for a solution.

[2021-01-08 19:32] #45 closed

[2021-01-12 18:56] Saviollage opened #46 "Crazy string powershell"
**Description of the issue**

**Screenshots**

https://prnt.sc/wm15xu

**Version Information**

 (Get-Module PSReadline).Version; (Get-Module posh-git).Version
[code]

[2021-01-14 10:18] RootAndroid58 opened #47 "❯ not appearing showing"
**Description of the issue**

as you can see in the screen shot the ❯ icon is not appearing

**Screenshots**
![image](https://user-images.githubusercontent.com/28777412/104577710-ce7bfe80-567f-11eb-8add-a719561f462a.png)

**Version Information**
![image](https://user-images.githubusercontent.com/28777412/104577834-f4a19e80-567f-11eb-9fed-73ad39e724a3.png)

[2021-01-14 12:12] #46 closed

[2021-01-16 08:49] waf commented on #47
Hi @RootAndroid58, thanks for reporting this. In your screenshot, it looks like you're using Oh My Posh or some other prompt. Is that correct?

I think you'll need to select either Oh My Posh, or this prompt. They both want to control the prompt, so I'm not sure how they'd interact.

You might also try setting your terminal to render unicode; that's usually the issue when you see [?] characters.

[2021-03-02 07:33] s-kzmchv opened #48 "Wrong colors"
Hello, after installation I get the wrong colors. Could you help me, please?
![image](https://user-images.githubusercontent.com/30108960/109613632-7b341180-7b42-11eb-9255-eb5fd2b461d2.png)
The command line works fine, but not powershell.
![image](https://user-images.githubusercontent.com/30108960/109613733-a1f24800-7b42-11eb-84ec-76221b4cbfd0.png)

[2021-03-02 09:42] waf commented on #48
Hi @s-kzmchv. If you right-click on the titlebar of PowerShell and go to Properties -> Colors, can you check which color the "Screen Text" is? My guess is that it's pointing to index 6, rather than index 7. Maybe some earlier theme changed the index.

![image](https://user-images.githubusercontent.com/97195/109629210-30cc8800-7b76-11eb-9f61-7e0ec0c141c0.png)

You might also have to make the same c

[2021-03-02 09:54] s-kzmchv commented on #48
Yes! Thank you!

[2021-03-02 09:54] #48 closed

[2021-05-25 15:08] peterlobster opened #49 "Theme takes twice (and then some) to load on PowerShell Core 7 than it takes on Windows PowerShell 5"
**Description of the issue**

When loading the Dracula Theme in PowerShell 5, it usually takes about ~500ms. When loading the Dracula Them in PowerShell 7, it usually takes about ~1200ms.

**Screenshots**
`PowerShell 5`

![image](https://user-images.githubusercontent.com/38382145/119521373-98a40080-bd6a-11eb-852a-f174f8155847.png)

`PowerShell 7`

![image](https://user-images.githubusercontent.com

[2021-07-07 15:40] astroahad commented on #32
Thank you!

[2021-07-31 16:28] DragonLover64 opened #50 "Import-Module: The specified module 'posh-git' was not loaded."
I don't know why this happens; this is my first time trying anything similar to this.
![dracula-issue](https://user-images.githubusercontent.com/67053195/127746267-fc4c623c-044d-4ce6-b6bd-1670d60c8b27.png)

[2021-08-01 04:48] waf commented on #50
Hi. Could you please post the output of `(Get-Module PSReadline).Version; (Get-Module posh-git).Version`

Thanks!

[2021-08-01 04:49] waf commented on #47
Closing this due to age. Feel free to reopen.

[2021-08-01 04:49] #47 closed

[2021-08-01 04:50] waf commented on #43
Closing this due to age. Feel free to reopen.

[2021-08-01 04:50] #43 closed

[2021-08-01 04:51] waf commented on #41
Closing this due to age; feel free to reopen.

[2021-08-01 04:51] #41 closed

[2021-08-01 06:57] waf commented on #49
My apologies for not responding sooner. If you disable the theme, do you see more similar performance? I suspect you'll still see a discrepancy. It'd also be helpful if you could share your PowerShell `$profile` file for both PowerShell 5 and PowerShell 7.

You may also want to follow this issue in the main PowerShell Core repository: https://github.com/PowerShell/PowerShell/issues/14268

[2021-08-05 15:10] DragonLover64 commented on #50
![ffbagjboodhipaca](https://user-images.githubusercontent.com/67053195/128373878-6875b7e5-535e-4a1d-bb95-a3bb19c0523b.png)
Hi. I am sorry for replying so late. An email was sent to me from this thread that said that I could reply to it directly or reply from the website but it seems that it didn't work properly.

[2021-08-06 11:35] waf commented on #50
Can you please try installing posh-git from [these instructions](https://github.com/dracula/powershell/blob/master/INSTALL.md)? It's part of the "Powershell colors" section, in the first step. If you get an error, please let me know and I'll make these instructions more clear. Thanks!

[2021-08-06 11:39] waf commented on #49
Anecdotally, with `PowerShell 7.2.0-preview.8`, it loads < 500ms, whereas PowerShell 5 took ~1200ms on the same computer. These are unscientific timings, though; they control for cold/warm startup times, but not much else.

[2021-08-06 12:20] DragonLover64 commented on #50
If I use `Install-Module -Name posh-git -AllowPrerelease -Force` without `-AllowPrerelease` it works! Thank you for your help.

[2021-08-06 19:14] #50 closed

[2022-06-02 00:12] santidiazl opened #53 "Replace home path with ~ in prompt"
Hi guys. Loving the theme. This is more of a question than an issue, but I wasn't sure where to ask.

In your screenshots you've replaced your home path (C:\Users\...) with a tilde character ~, which is how I'd like my prompt to work as well.

Mine keeps showing the full path - not sure if based on your installation instructions it should show the tilde or if I need to do something else. Any help

[2022-06-02 15:58] santiagodiazl commented on #53
Nevermind, I figured it out - add:

`$GitPromptSettings.DefaultPromptAbbreviateHomeDirectory = $true`

to your `$profile`

[2022-06-02 15:58] #53 closed

[2022-06-03 06:37] waf commented on #49
Closing stale issues, feel free to reopen if needed

[2022-06-03 06:37] #49 closed

[2022-06-30 02:57] jhollender opened #54 "Issue when running prompt"
**Description of the issue**

I followed all of the instructions, but when I try to set the environment variable prompt, I get this error:

[code]

**Screenshots**
![2022-06-29 19_54_55-Windows PowerShell](https://user-images.githubusercontent.com/2118055/176583075-3f6764b1-ef6b-43b4-b6f4-b48ce6521e47.jpg)

**Version Information**

[code]

[2022-07-29 16:18] examosa commented on #54
Hi @jhollender!

I believe that prompt string is intended for cmd.exe; you can use it with the `prompt` command like so:

![image](https://user-images.githubusercontent.com/23395221/181800282-90caf9be-74b6-4281-8c1d-c08e39b947df.png)

To set the prompt in PowerShell, you'll likely want to use [dracula-prompt-configuration.ps1](https://github.com/dracula/powershell/blob/5cc070a7333aa3f53fcbd556e465

[2022-08-29 17:11] mrfjca commented on #54
hi,

I set the prompt to `$E[1;32;40m→ $E[1;36;40m$p$E[1;35;40m› $E[1;37;40m` successfully, and after setting, the changes are visible.
![Screenshot 2022-08-29 213832](https://user-images.githubusercontent.com/111576085/187256293-0508d3bd-227d-4b64-a800-18cb73409981.png)

But when I close cmd and open it again, it goes back to the previous state !
![Screenshot 2022-08-29 213927](https://user-image

[2022-08-29 17:24] examosa commented on #54
@mrfjca To persist the change, you'll want to save the string to the `%PROMPT%` environment variable. This can be accomplished in cmd using [`setx`](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/setx):

[code]

[2022-08-29 17:31] mrfjca commented on #54
@examosa The problem was fixed 👍
Thank you very much for your help 🙏.

[2022-09-16 08:01] Hrithik-programmer-001 opened #56 "Background color problem"
Sir, I have followed all the instructions and installed the theme. But the background colour of  PowerShell didn't change.
![Screenshot (294)](https://user-images.githubusercontent.com/106802690/190587959-4c9dfd2c-81bd-4560-b1a3-1fc4c375982c.png)

[2022-09-17 07:13] Hrithik-programmer-001 commented on #56
Oh, my problem has been solved.

[2022-09-17 07:13] #56 closed